body{
  margin:0;
  font-family:'Inter';
  color:white;
  background:#050507;
}

/* BACKGROUND */
.bg-gradient{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-2;

  background:
    radial-gradient(circle at 30% 30%, #7c5cff22, transparent 40%),
    radial-gradient(circle at 70% 60%, #9a7cff22, transparent 40%),
    #050507;

  animation:moveBg 12s infinite alternate ease-in-out;
}

@keyframes moveBg{
  from{
    background-position:30% 30%,70% 60%;
  }
  to{
    background-position:40% 40%,60% 50%;
  }
}

.bg-noise{
  position:fixed;
  width:100%;
  height:100%;
  z-index:-1;
  background-image:url("https://grainy-gradients.vercel.app/noise.svg");
  opacity:0.05;
}

/* NAV */
.nav{
  display:flex;
  justify-content:center;
  padding:20px;
}

.nav a{
  margin:0 20px;
  color:#aaa;
  text-decoration:none;
}

.nav a:hover{
  color:white;
}

/* HERO */
.hero{
  padding:100px 60px 60px;
}

.hero h1{
  font-size:60px;
}

.hero-buttons{
  margin-top:20px;
}

.hero button{
  padding:10px 20px;
  border:none;
  border-radius:10px;
  margin-right:10px;
  background:#7c5cff;
  color:white;
}

.hero .outline{
  background:transparent;
  border:1px solid #333;
}

/* SECTION */
.section{
  padding:60px;
  max-width:900px;
}

/* PROJECTS */
.projects{
  display:flex;
  gap:20px;
  margin-top:20px;
}

.card{
  padding:20px;
  background:#0b0b10;
  border-radius:12px;
  transition:0.3s;
  cursor:pointer;
}

.card:hover{
  transform:translateY(-8px);
  box-shadow:0 0 30px #7c5cff33;
}

/* SKILLS */
.skills span{
  border:1px solid #333;
  padding:8px 14px;
  border-radius:20px;
  margin:5px;
  display:inline-block;
}

/* CONTACT */
.contact-box{
  margin-top:20px;
  padding:12px;
  border:1px solid #333;
  border-radius:8px;
}