body{
  margin:0;
  font-family:'Inter';
  background:#050507;
  color:#e5e5e5;
  cursor:none;
}

/* NAV */
.nav{
  display:flex;
  justify-content:space-between;
  padding:20px 80px;
}

.logo span{ color:#7c5cff; }

/* HERO */
.hero{
  padding:120px 80px;
  position:relative;
}

.parallax-layer{
  position:absolute;
  width:500px;
  height:500px;
  background:radial-gradient(circle,#7c5cff33,transparent);
  top:10%;
  left:60%;
  filter:blur(120px);
}

.hero h1{
  font-size:60px;
}

/* BUTTON */
.btn{
  padding:12px 20px;
  border-radius:8px;
  margin-right:10px;
  border:none;
}

.primary{
  background:#7c5cff;
  color:white;
}

/* PROJECTS */
.projects{
  display:flex;
  gap:20px;
}

.project-card{
  background:#0b0b10;
  padding:20px;
  border-radius:16px;
  transition:0.3s;
  overflow:hidden;
}

.project-card img{
  width:100%;
  border-radius:10px;
  margin-bottom:10px;
}

.project-card:hover{
  transform:translateY(-10px) scale(1.02);
}

/* SKILLS */
.skills-grid{
  display:flex;
  flex-wrap:wrap;
  gap:12px;
}

.skill{
  padding:10px 16px;
  border:1px solid #222;
  border-radius:30px;
}

/* CONTACT */
.contact-box{
  padding:10px;
  border:1px solid #222;
  display:inline-flex;
  gap:10px;
}

/* CURSOR */
.cursor{
  width:6px;
  height:6px;
  background:white;
  position:fixed;
  border-radius:50%;
  z-index:9999;
}

.cursor-blur{
  width:60px;
  height:60px;
  background:rgba(124,92,255,0.2);
  position:fixed;
  border-radius:50%;
  filter:blur(40px);
}

/* REVEAL */
.reveal{
  opacity:0;
  transform:translateY(40px);
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
  transition:0.8s;
}
