body{
  margin:0;
  font-family:'Inter';
  background:#050507;
  color:#e5e5e5;
  cursor:none;
  overflow-x:hidden;
}

/* NAV */
.nav{
  display:flex;
  justify-content:space-between;
  padding:20px 80px;
}

/* HERO */
.hero{
  height:100vh;
  display:flex;
  align-items:center;
  padding:0 80px;
  position:relative;
}

.hero-title{
  font-size:70px;
}

/* PARALLAX */
.parallax-layer{
  position:absolute;
  width:600px;
  height:600px;
  background:radial-gradient(circle,#7c5cff33,transparent);
  filter:blur(120px);
  top:10%;
  left:60%;
}

/* BUTTON */
.btn{
  padding:12px 22px;
  border-radius:8px;
  margin-top:10px;
}

.primary{
  background:#7c5cff;
  color:white;
}

/* PROJECTS */
.projects{
  display:flex;
  gap:20px;
}

.project-card{
  background:#0b0b10;
  padding:20px;
  border-radius:14px;
}

/* SKILLS */
.skills-grid{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.skill{
  padding:10px 16px;
  border:1px solid #222;
  border-radius:20px;
}

/* CURSOR */
.cursor{
  width:6px;
  height:6px;
  background:white;
  position:fixed;
  border-radius:50%;
  pointer-events:none;
  z-index:9999;
}

.cursor-blur{
  width:60px;
  height:60px;
  background:rgba(124,92,255,0.2);
  position:fixed;
  border-radius:50%;
  filter:blur(40px);
  pointer-events:none;
}

/* TEXT REVEAL */
.reveal-text{
  opacity:0;
  transform:translateY(50px);
}
